## Pandas Series:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
## 1)A Pandas Series is like a column in a table.
## 2)It is a one-dimensional array holding data of any type.
## 3)A Series is a one-dimensional labeled array that can hold any data type (integers, floats, strings, etc.). It is similar to a column in a spreadsheet or a traditional array. Each value in a Series is associated with a label or index, which allows for easy access and retrieval of data. You can create a Series using various methods, such as passing a list or an array to the pd.Series() function.

In [4]:
import pandas

In [6]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [ ]:
'If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

'This label can be used to access a specified value'

In [9]:
import pandas as pd
a=[1,2,3,4]
mydata=pd.Series(a, index = ["a","b","c","d"])
print(mydata)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
import pandas as pd
names={"ram":100,"som":101,"tom":102}
mydata=pd.Series(names)
print(mydata)

ram    100
som    101
tom    102
dtype: int64

In [ ]:
#With the index argument, you can name your own labels.

In [16]:
import pandas as pd
names={"ram":100,"som":101,"tom":102}
mydata=pd.Series(names, index = ["ram","som","tom"])
print(mydata)

ram    100
som    101
tom    102
dtype: int64

# DataFrames:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
# Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
# Series is like a column, a DataFrame is the whole table.

In [21]:
import pandas as pd
data={
    "names":["ram","tom","sam"],
    "roolnum":[100,101,102]    
}
mydata=pd.DataFrame(data)
print(mydata)

  names  roolnum
0   ram      100
1   tom      101
2   sam      102

In [23]:
import pandas as pd
datee={
    "snno":[1,2,3],
    "team":["a","b","c"],
    "state":["ap","ts","tm"]
}
mydata=pd.DataFrame(datee)
print(mydata)

   snno team state
0     1    a    ap
1     2    b    ts
2     3    c    tm

In [ ]:
#NOTE::series is like a column ,a DataFrame is the whole table